{% assign current-position = site.data.data.current-position %}
{% if current-position %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-lightbulb fa-stack-1x fa-inverse"></i>
    </span>
    {{ current-position.title }}
  </h2>

  <div class="summary">
    {{ current-position.summary | markdownify }}
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
