@media print {
   @page {
      size: A4;
   }

   body {
      font-size: 11pt;
   }


   img.avatar {
      max-width: 50px;
      //filter: grayscale(1);
      //-webkit-filter: greyscale(1);
   }

   .main-wrapper .time {
      float: right;
      //color: black !important;
   }

   .sidebar-wrapper {
      position: static;
      float: left;
      width: 30%;

      .name {
         font-size: 14pt;
      }

      .avatar {         
         width: 100pt;
         margin-bottom: 16px;
         border: 0px solid #fff;
         border-radius: 100%;
         box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
       }

   }

   .main-wrapper {
      position: static;
      float: right;
      width: 70%;
   }

   .skillset .level-bar {
      height: 8pt;     
    }

   .skillset .level-bar-inner {
      height: 8pt;
      background-color: $progress-color !important;
      -webkit-print-color-adjust: exact; 
   }

   .remove-container.container-block {
      display: none;
   }

   footer {
      display: none;
   }

   .skillset .level-bar-inner {
      background-color: $progress-color !important;
   }

   a[href]:after {
      content: "";
    }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
     color: #ffffff !important;
   }

}