/* VSCode Inspired Dark Theme */
$theme-color: #1E1E1E; /* Gris oscuro para el fondo principal */
$progress-color: #64C17F; /* Gris oscuro para el fondo principal */
$text-color: #252525; /* Gris claro para texto principal en fondos oscuros */
$text-color-secondary: #747474; /* Gris más oscuro para texto secundario */
$text-grey: #606060; /* Gris medio para texto menos importante */
$divider: #569CD6; /* Gris muy oscuro para líneas divisorias */
$darker-grey: #252525; /* Gris más oscuro para elementos de fondo más oscuro */
$smoky-white: #f5f5f5;
$heart: #CE9178; /* Naranja para elementos que requieren atención o enfatizan la importancia */

/* Colores adicionales para detalles */
$detail-green: #608B4E; /* Verde para detalles o resaltado */
$detail-blue: #569CD6; /* Azul para detalles o resaltado */
